@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FFF;
}

.pink-sec-basic-para {
    color: #E9D7FE;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.tiny-para {
    color: #181D27;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.basic-para-white {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.third-basic-light-black {
    color: #535862;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.pink-basic-para {
    color: #E9D7FE;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;    
}

.sec-basic-light-black {
    color: #535862;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.basic-light-black {
    color: #414651;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.medium-para-white {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.medium-light-black {
    color: #414651;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.big-light-black {
    color: #535862;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.big-light-pink {
    color: #E9D7FE;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.sec-big-para-white {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.72px;
}

.sec-small-para-gray {
    color: #535862;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.header-para-pink {
    color: #6941C6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.para-for-numbers {
    color: #181D27;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.96px;    
}

.footer-para {
    color: #535862;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.last-para {
    color: #717680;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;  
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -1.44px;
}

h2 {
    color: #181D27;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px
}

h3 {
    color: #181D27;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
}

h4 {
    color: #181D27;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

h5 {
    color: #181D27;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
}

/* strating from here */

header {
    display: flex;
    justify-content: center;
    background: #53389E;
}

.header-container-box {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-nav-bar-box {
    max-width: 1440px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav-bar {
    max-width: 1280px;
    width: 100%;
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header-nav {
    display: flex;
    gap: 32px;
}

.left-header-nav-lists {
    display: flex;
    gap: 20px;
}

.header-lists {
    display: flex;
    gap: 4px;
    align-items: center;
}

.right-header-nav {
    display: flex;
    gap: 12px;
}

.click-button {
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    background: #FFF;
    color: #414651;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;    
    border: none;
}

.click-button:hover {
    background: #7F56D9;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.header-hero-container-box {
    display: flex;
    width: 100%;
    padding-top: 96px;
    justify-content: center;
}

.header-hero-container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    padding: 0px 32px 0px 32px;
    gap: 64px;
    align-items: center;
}

.header-hero-container-content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 48px;
    align-items: center;
}

.header-hero-content {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    width: 100%;
    gap: 24px;
    align-items: center;
}

.header-hero-top-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: center;
}

.hero-buttons {
    display: flex;
    gap: 8px;
    padding: 16px 22px;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    color: #414651;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;    
}

.hero-buttons:hover {
    background: #7F56D9;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;
} 

.buttons-box {
    display: flex;
    gap: 12px;
}

.background-img {
    background-image: url(images/background-img-cards.svg);
    width: 100%;
    height: 456px;
    background-position: center;
    overflow: visible;
    object-fit: contain;
}

main {
    display: flex;
    max-width: 1440px;
    width: 100%;
    flex-direction: column;
    justify-self: center;
    gap: 24px;
}

.main-first-container-box {
    padding: 96px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-first-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1280px;
    width: 100%;
    padding: 0 32px;
    align-items: center;
}

.supporter-logos {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.main-sec-container-box {
    max-width: 1440px;
    width: 100%;
    background: #F2EDFF;
    padding: 96px 0;
    display: flex;
    justify-content: center;
}

.main-sec-container {
    display: flex;
    max-width: 1280px;
    padding: 0 32px;
    gap: 64px;
}

.main-sec-container-left-box {
    display: flex;
    max-width: 360px;
    width: 100%;
    height: 274px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.main-sec-container-right-box {
    display: flex;
    align-content: flex-start;
    align-content: flex-start;
    flex: 1 0 0;
    flex-wrap: wrap;
    gap: 32px 64px;
}

.main-sec-right-boxes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    max-width: 364px;
    width: 100%;
}

.main-third-container-box {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 96px;
    overflow: hidden;
}

.main-third-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 1280px;
    width: 100%;
    padding: 0 32px;
}

.main-third-top-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 768px;
    width: 100%;
}

.main-third-container-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.main-third-container-bottom {
    display: flex;
    gap: 64px;
    width: 100%;
}

.main-third-container-bottom-left {
    display: flex;
    flex-direction: column;
    max-width: 592px;
    width: 100%;
    min-width: 590px;
    justify-content: center;
}

.main-third-container-bottom-left-content {
    display: flex;
    align-items: flex-start;
    padding: 16px 0 16px 24px;
    flex-direction: column;
    gap: 20px;
    border-left: 4px solid #F5F5F5;
}

.main-third-container-bottom-left-content-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.learn-more-with-icon {
    display: flex;
    gap: 6px;
    align-items: center;
}

.main-third-container-bottom-left-content:hover {
    border-left: 4px solid #9E77ED;
}

.main-forth-container-box {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    padding: 96px 0;
    background: #F2EDFF;
    flex-wrap: wrap;
    align-self: stretch;
}

.main-forth-container {
    display: flex;
    gap: 64px;
    max-width: 1280px;
    padding: 0 32px;
    width: 100%;
}

.main-forth-left-content-box {
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-forth-left-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-forth-rigt-container-box {
    display: flex;
    gap: 32px;
    width: 100%;
}

.plan-card-container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid #E9EAEB;
    background: #FFF;
    }

.plan-card-header-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 340px;
    padding: 32px 32px 0 32px;
    align-items: center;    
}
.card-header-text-photo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.flash-icon {
    width: 48px;
    display: flex;
}

.pans-price-para {
    color: #181D27;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.96px; 
}

.plan-card-main-container {
    max-width: 340px;
    width: 100%;
    padding: 32px 32px 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.plan-card-main-content {
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: flex-start;
}

.check-icon {
    width: 24px;
}

.plan-card-footer-container {
    border-top: 1px solid #E9EAEB;
    background: #FAFAFA;
    max-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.card-plan-submit-button {
    width: 100%;
    padding: 12px 18px;
    background: #7F56D9;
    border-radius: 8px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}

.main-fifth-container-box {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    padding: 96px 0;
}

.main-fifth-container {
    display: flex;
    padding: 0 32px;
    max-width: 1280px;
    width: 100%;
    background: #53389E;
    border-radius: 24px;
    overflow: hidden;
}

.main-fifth-left-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    padding: 64px;
    max-width: 736px;
    min-width: 769px;
    width: 100%;
}

.main-fifth-header {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.stars-icon {
    width: 116px;
    height: 20px;
}

.main-fift-middle {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.three-dot-icon {
    width: 62px;
    height: 10px;
}

footer {
    display: flex;
    justify-content: center;
    background: #FAFAFA;
    padding: 64px 0 48px 0;
}

.footer-container-box {
    display: flex;
    max-width: 1440px;
    width: 100%;
    flex-direction: column;
    gap: 64px;
}

.footer-top-container {
    display: flex;
    max-width: 1280px;
    width: 100%;
    padding: 0 32px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.left-footer-container-box {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    min-width: 320px;
    width: 100%;
    gap: 32px;
    flex: 1 0 0;
}

.footer-logo {
    max-width: 139px;
    width: 100%;
    height: 32px;
}

.right-footer-container-box {
    display: flex;
    gap: 32px;
    max-width: 712px;
    width: 100%;
    flex: 1 0 0;
    align-items: flex-start;
}

.right-footer-container-list-box {
    gap: 32px;
    display: flex;
    max-width: 320px;
}

.footer-lists {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 144px;
    width: 100%;
}

.footer-lists-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 144px;
    width: 100%;
    min-width: 100px;
}

.send-us-email-container {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fill-place {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    align-items: center;
}

.email-fill {
    padding: 10px 14px;
    border-radius: var(--radius-md, 8px);
    border: 1px solid #7F56D9;
    background: #FFF;
    box-shadow: 4px 4px 20.9px 0px rgba(127, 86, 217, 0.25);
}

.email-fill::placeholder {
    overflow: hidden;
    color: #717680;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.pink-button {
    border-radius: var(--radius-md, 8px);
    background: #7F56D9;  
    padding: 10px 16px; 
    border: none;
    cursor: pointer;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.footer-bottom-container-box {
    padding-top: var(--spacing-4xl, 32px);
    border-top: 1px solid #E9EAEB;
    max-width: 1280px;
    width: 100%;
}

.footer-bottom-container {
    display: flex;
    padding: 0 32px;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.burger-menu {
    display: none;
}

.last-links-box {
    display: flex;
    gap: 16px;
}

.Renne-pic-for-tablet {
    display: none;
}

/* starting responsives */

@media screen and (max-width: 769px) {

    .left-header-nav-lists, .right-header-nav{
        display: none;
    }

    .burger-menu {
        display: flex;
        
    }

    .main-third-container-bottom-left {
        display: flex;
        justify-content: unset;
        max-width: 320px;
        width: 100%;
        min-width: 320px;
    }

    .main-forth-container {
        display: flex;
        flex-direction: column;
    }

    .main-fifth-container-box {
        padding: 0 32px;
    } 

    .main-fifth-container {
        flex-direction: column;
        padding: 0;
    }

    .header-hero-container {
        padding: 0;
    }

    .footer-top-container {
        flex-direction: column;
        row-gap: 48px;
    }

    .right-footer-container-box {
        flex-direction: column-reverse;
    }

    .right-footer-container-list-box {
        flex-direction: row;
    }

} 

/* tablet responsive ends here  */

@media screen and (max-width: 385px) {

    .header-nav-bar {
        padding: 0 12px 0 16px;
    }

    .header-hero-top-content {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .header-hero-container-content-box {
        padding: 0 16px;
    }



    h1 {
        color: #FFF;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.72px;
        text-align: left;
        align-items: unset;
    }

    .hero-buttons {
        justify-content: center;
    }

    .buttons-box {
        flex-direction: column;
        width: 100%;
    }

    .pink-sec-basic-para {
        color: #E9D7FE;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    .big-light-pink {
        color: #E9D7FE;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }

    .background-img {
        background-image: url(images/bank-cards.svg);
        background-image: url(images/background-img-cards.svg);
    }

    .main-first-container-box {
        padding: 64px 0;
    }

    .main-sec-container-box {
        padding: 64px 0;
    }

    .main-sec-container {
        flex-direction: column;
    }

    .main-sec-right-boxes {
        gap: 4px;
    }

    .main-sec-container-right-box {
        gap: 40px;
    }

    .main-sec-container-left-box {
        height: auto;
    }

    .main-third-container-bottom {
        flex-direction: column;
    }

    .dashboard-background-img {
        width: 338.487px;
        height: 225.658px;
    }

}